.chat {
    background: #e0efff no-repeat 50% 50%;
    /* url('./assets/finance.png')*/
    min-height: 200px;
    padding: 20px;
    max-width: 100%;
    overflow-y: scroll;
    height: 412px;
    border-bottom: 1px solid #ccc;
}