app-chat {
    display: block;
}

.device {
    background: url(./assets/devices.png) no-repeat top left;
    width: 400px;
    height: 830px;
    position: absolute;
    top: -116px;
    left: -22px;
    z-index: -1;
}