.message {
    font-size: 15px;
    /*11px;*/
    position: relative;
    padding-bottom: 25px;
    padding-top: 10px;
    padding-left: 40px;
    margin-bottom: 5px;
    width: calc(100% - 50px);
}

.message--right {
    padding-left: 0;
    padding-right: 40px;
}

.message--right .message__avatar {
    left: auto;
    right: 0
}

.message--right .message__message {
    left: 0;
    border-radius: 15px 15px 0 15px;
}

.message__avatar {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 25px;
    _border: 1px solid #ccc;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.message__message {
    position: relative;
    color: #444;
    padding-left: 20px;
    padding: 5px 5px 5px 10px;
    border: 1px solid #ccc;
    border-radius: 15px 15px 15px 0px;
    background: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.message__message::after {
    content: "";
    clear: both;
    display: table;
}

.message__meta {
    position: absolute;
    bottom: 0;
    bottom: 10px;
    left: 11px;
    font-size: 11px;
}

.message--left .message__meta {
    right: 11px;
    text-align: right;
}

.message__username {
    font-weight: bold;
    color: #666;
    display: inline-block
}

.message--left .message__username {
    float: right;
    margin-left: 3px;
}

.message__date {
    font-style: italic;
    color: #999393;
    display: inline-block;
}

.message__chart {
    width: 100px;
    height: 100px;
    float: right;
}

.message__inner {
    display: inline;
}

.message__title {
    color: white;
    background: #444;
    margin: -6px -6px 10px -11px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 10px 10px 0px 0px;
}